h2 {
  width:200px;
  border: 5px solid;
  
  /*Add your CSS below this line*/
}

h3 {
  width:150px;
  border: 5px solid;
  
  /*Add your CSS below this line*/
}
h2{
    border-radius: 20px;
}
h3{
    border-radius: 20%;
}
h2{
    border-color: brown;
}